h1.reg-form{
    text-align:center;
    color:#fff;
}

body{
    background-image:linear-gradient(to right, #3291A1 10%, #004AAD 100%);
}

.form_container{
width: 100%;
max-width:1100px;
min-height:400px;
margin:auto;
padding: 30px;
background-color: #fff;
border-radius: 3px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.container{
    text-align: center;
    color:#1A5875;
}
.reg_container{
    color:#1A5875;
}

.printbutton{
    background-color: white; 
    border-color:black ;
    color: black;
    padding: 1px 20px;
    text-align:top;
    text-decoration: none;
    font-size: 16px;
    margin:auto;
    cursor: pointer;
    float:right;
    border-radius: 20px;
}
.space{
    margin:60px; 
}

