@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    color: #1A5875;
}

input[type="text"],
select {
    color: #1A5875; 
}

body {
    justify-content:center;
    align-items: center;
    min-height: 200vh;
    background-image: linear-gradient(to right, #3291A1 10%, #004AAD 100%);
}

.header {
    text-align: center;
    font-size: 40px;
    color: #fff;
    padding: 25px;
    margin-top: 20px;
}

.progressbar_container {
    width: 100%;
    max-width: 1380px;
    min-height: 150px;
    margin: 20px;
    padding: 30px;
    background-color: #1A5875;
    border-radius: 30px;
}

.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
    z-index: +1;
  }
  
  .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #fff;
    z-index: -1;
  }
  
  .progress {
    background-color: #70D8D6;
    width: 0%;
    transition: 0.3s;
  }
  
  .progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #3291A1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-step::before {
    counter-increment: step;
    content: counter(step);
  }
  
  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #fff;
  }
  
  .progress-step-active {
    background-color: #70D8D6;
    color: #f3f3f3;
  }

.container {
    width: 100%;
    max-width: 1100px;
    min-height: 400px;
    margin: auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="text"],
select,
input[type="password"]{
    height: 30px;
    width: 80%;
    padding: 5px;
}

input[type="text"],
input[type="password"],
select {
    background-color: #A5DDE6;
    
}


input, select {
    border: none;
    border-radius: 0;
}

input:focus, select:focus {
    border: 2px solid #3291A1;
    outline: none;
}

.next-button {
    background-color: #3291A1;
    color: #fff;
    padding: 10px 20px;
    border:none;
    border-radius: 20px;
    cursor: pointer;
}

.next-button:hover {
    background-color: #29717D;
}